/*!
 * Kalatheme (http://drupal.org/project/kalatheme)
 */

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

html {
  font-size: 100.01%;
}
body {
  font-size: 1.1rem;
  line-height: 1.6;
  font-weight: 600 !important;
  color: #42332D;
  background: #E5DDCB;
}
a, a:active, a.active, a:hover {
  color: #720201;
}
b,strong {
  font-weight: 700;
}
p {
  margin: 0 0 1em;
  /*padding-bottom: 50px;
  background: url(../img/windrose.png) no-repeat bottom center;*/
}
#tabs {
  margin-bottom: 0;
}
#tabs ul{
  margin-bottom: 20px;
}
.navbar-default {
  background: transparent; /*#EBB279*/ /*#D7AA7C*/
  /*background: url(../img/blurred-8.jpg) top center no-repeat;*/
  border: 0;
 }
 .navbar-default nav {
  float: left;
 }
 .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-left: -15px;
    margin-right: -15px;
 }
 #main-wrapper {
  margin-top: 0;
 }
 #main {
  /*background: #E5DDCB;
  margin-top: -1em !important;
  font-size: 1.5rem;*/
  position: relative;
 }
 /* Landkogge Border Style*/
 .border {
  border: 1px solid #42332D;
  margin-bottom: 1em;
  background: rgba(229,221,203,1);
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
 }
 .border .moscone-flipped-content {
  padding: 1em;
 }
 .node-type-unit-description .border {
  border-top: 0;
 }
 .node-type-unit-description .einzelansicht {
  border-top: 1px solid #42332D;
 }
 .border .moscone-flipped-sidebar {
  margin-top: 2em;
 }
 .node-type-unit-description .moscone-flipped-content {
  padding: 0;
 }
.form-item-rooms-start-date label,
.form-item-rooms-end-date label {
  display: block;
}
.form-item-rooms-start-date-date label,
.form-item-rooms-end-date-date label {
  display: none;
}
.container-inline-date .date-padding {
  float: none;
  padding: 0;
}
#node-4 h2 {
  display: none;
}

#rooms-wrapper tbody, #rooms-wrapper th {
  border: 0;
}
#rooms-wrapper th {
  padding-bottom: 5px;
}
#rooms-booking-availability-search-form .form-item{
  margin-top: 0;
}

.page-unterkuenfte .group-left {
  width: 25%;
}
.page-unterkuenfte .group-right {
  width: 70%;
}

.view-unterkuenfte h2 {
  margin-top: 0;
}

#rooms-booking-availability-search-form--2 #edit-actions,
#rooms-booking-availability-search-form--2 .form-item-rooms,
#rooms-booking-availability-search-form--2 .form-item-unit-type,
#rooms-booking-availability-search-form #edit-actions,
#rooms-booking-availability-search-form .form-item-rooms,
#rooms-booking-availability-search-form .form-item-unit-type {
  clear: none;
}
#rooms-booking-availability-search-form .description {
  display: none;
}
#rooms-booking-availability-search-form .element-invisible {
  position: absolute !important;
  clip: auto;
  overflow: visible;
  height: 1px;
}
.header_address {
  position: absolute;
  top: 50px;
  left: 20px;
  font-style: italic;
  font-size: .9em;
}
.header_phone {
  position: absolute;
  top: 50px;
  right: 20px;
  font-style: italic;
  font-size: .9em;
}

ul.nav a {
  font-weight: 700;
  color: #42332D;
}
ul.nav a {
  /*font-variant: small-caps;*/
}
.navbar {
  margin-bottom: 0;
}
.navbar-brand {
  width: 100%;
  margin: 0;
  padding-bottom: 0;
}
.navbar-header {
  width: 100%;
}
.navbar-nav {
    margin: 0;
    width: 100%;
    padding: 1em 0;
}
.navbar-toggle {
  border-color: #42332D;
  margin-right: 0;
}
.navbar-toggle .icon-bar {
  background: #42332D;
}
a#logo {
  float: right;
  position: relative;
  margin-right: -5%;
  margin-top: -17%;
  z-index: 1000;
  display: block;
}
.node-type-unit-description a#logo {
  background: #E5DDCB;
  padding-bottom: 2em;
}
a#logo img {
  width: 100px;
}
/*a#logo {
  position: absolute;
  z-index: 900;
  top: 7em;
  right: -2em;
  margin: 0;
}*/
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  margin-left: 0;
}

.container {
  max-width: 1200px !important;
  margin: 0 auto;
}
/*#rooms-booking-availability-search-form #edit-submit {
  margin: 1.85em;
}*/
.front .pane-rooms-booking-manager-rooms-availability-search {
  padding: 0 1em;
  text-align: center;
}

.front .frontpage {
  padding: 2em 1em;
  margin: 0;
  /*border: 1px solid #42332D;
  border-radius: 2px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;*/
}
.frontpage {
  margin: 0;
  padding-bottom: 1em;
  /*border: 1px solid #42332D;
  border-radius: 2px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;*/
}
.front .fp-search{
  /*background: #EEECE8;*/
  border: 1px solid #42332D;
  border-radius: 2px;
  margin-bottom: 1em;
}
.front .fp-search label {
  margin-bottom: 0;
}
.bryant-flipped {
  /*background: #EEECE8;*/
}
/*.moscone-flipped-main-content {
  margin-top: -6.5em;
}*/
.view-unterkuenfte .views-row.views-row-1.views-row-first,
.page-node-6 .einzelansicht,
.page-node-9 .einzelansicht,
.page-anfahrt .einzelansicht,
.page-node-3 .einzelansicht {
    border-top: 0 none;
    padding-top: 1em;
}
.page-node-6 .einzelansicht,
.page-node-9 .moscone-flipped-content {
  margin-top: -4.5em;
}
.page-anfahrt .pane-title:first-of-type,
.page-node-3 .pane-title:first-of-type {
  display: inline-block;
  width: 70%;
}

.moscone-flipped-sidebar-area {
    margin-top: 1em;
}
.view-unterkuenfte .views-row {
  padding: 1em 1em 2em;
  /*border: 1px solid #42332D;
  border-radius: 2px;*/
  min-height: 460px;
}
.field-name-field-slider-fotos {
  /*border: 1px solid #42332D;
  border-radius: 2px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;*/
  border-bottom: 1px solid #42332D;
}
.page-unterkunft h2 {
  display: inline-block;
  text-align: left;
  padding-left: 0;
  border: 0;
}
.page-unterkunft h2:before {
  border: 0;
}
.page-unterkunft .field-name-field-slider-fotos{
  border-left: 0;
  border-right: 0;
  border-radius: 0;
}
.container {
  position: relative;
  width: 98%;
}
header .container {
  padding: 0;
}
nav li a {
  font-size: 1.3em;
  font-weight: 300;
}
.nav > li > a {
    display: inline-block;
    line-height: 1;
    padding: .5em 0;
    margin: 0 .5em;
    border-radius: 0;
    border-bottom: 3px solid transparent;
}

.nav > li > a:hover,
.nav > li > a:focus,
.nav > li > a:active {
  /*border-radius: 2px;
  background: rgba(229,221,203,.6);*/
  border-bottom: 3px solid #42332D;
  background: transparent;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background: transparent;
  border-color: #42332D;
  border-bottom: 3px solid transparent;
}

nav li a.active {
  /*background: rgba(229,221,203,.6);*/
  border-bottom: 3px solid #42332D;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus,
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  /*background: #720201;*/
  background: none;
  color: #42332D;
}

.btn-primary {
    background-color: #3B7E00/*#F27405*/;
    border-color: #3B7E00 /*#F3A108*/;
    color: #fff;
    font-weight: 700;
    font-size: 0.8em;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active,
.btn-primary.active, .open .dropdown-toggle.btn-primary,
.view-id-buchungsanfrage.view-display-id-panel_pane_1 a.ctools-use-modal:hover,
.view-id-buchungsanfrage.view-display-id-panel_pane_1 a.ctools-use-modal:focus,
.view-id-buchungsanfrage.view-display-id-panel_pane_1 a.ctools-use-modal:active {
  background-color: #720201/*#F3A108*/;
  border-color: #720201 /*#F3A108*/;
}

/* Button Startseite */
.front .form-actions .btn, .front .form-submit{
  margin: 2em 0 0 !important;
}

.front td select {
  margin-top: -0.3em;
}

/* Button  Übersichtsseite */
.page-unterkuenfte .btn-primary {
   font-size: 1em;
    font-weight: 700;
    margin-left: 0 !important;
    margin-top: 0 !important;
    margin-right: 5px;
    padding: 0.3em 1em;
}

/* Button Buchungsanfrage */
.view-id-buchungsanfrage.view-display-id-panel_pane_1 a.ctools-use-modal {
  color: #fff;
  background: #3B7E00;
  font-weight: 700;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 0.3em 1em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

/* Node Ansicht */
.node-type-unit-description .ds-2col-stacked-fluid {
  border: 1px solid #42332D;
}
.page-unterkunft .ds-2col-stacked-fluid > .group-left {
    float: left;
    width: 60%;
}
.page-unterkunft .ds-2col-stacked-fluid > .group-right {
    float: right;
    width: 35%;
}
.field-name-field-ausstattung .field-label,
.node-type-unit-description h2.pane-title,
.page-node-6 h2.pane-title, h2,
.node-type-unit-description .einzelansicht h2.pane-title {
  padding: .3em .5em;
  margin: 0 0 1em;
  color: #000;
  border-radius: 0px;
  border-top: 1px solid #42332D;
  border-bottom: 1px solid #42332D;
  line-height: 1;
  /*font-variant: small-caps;*/
  text-align: center;
  position: relative;
  clear: both;
}
.ueberblick h2.pane-title:first-of-type,
.ueberblick h2.pane-title:first-of-type:before,
.einzelansicht h2.pane-title:first-of-type,
.einzelansicht h2.pane-title:first-of-type:before,
.ueberblick h2:first-of-type,
.ueberblick h2:first-of-type:before,
.moscone-flipped-content h2.pane-title:first-of-type,
.moscone-flipped-content h2.pane-title:first-of-type:before {
  border-top: 0;
}
.node-type-unit-description .einzelansicht h2.pane-title:first-of-type {
  border-top: 1px solid #42332D;
}
.field-name-field-ausstattung .field-label:before,
.node-type-unit-description h2.pane-title:before,
.page-node-6 h2.pane-title:before, h2:before,
.node-type-unit-description .einzelansicht h2.pane-title:before {
    border-bottom: 1px solid #5D5D5D;
    border-top: 1px solid #5D5D5D;
    bottom: 2px;
    content: " ";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 2px;
    z-index: -1;
}
.node-type-unit-description .einzelansicht h2.pane-title {
  margin: 0 1em 1em;
}
/*.page-node-6 ul {
  padding-left: .7em;
}*/
.einzelansicht {
  /*border: 1px solid #42332D;*/
  margin-bottom: 1em;
}
.bryant-flipped-sidebar-region p,
.burr-flipped-sidebar-content p {
  line-height: 1.2em;
}
/* FF bug flexslider margin */
.einzelansicht .pane-node-unit-description-description {
  padding: 2em 1em 1em;
  z-index: -10;
}
.einzelansicht .pane-node-unit-description-image {
  margin-bottom: 0;
}
/*.einzelansicht .pane-fpid-6,
.field-name-body {
  padding: 1em;
}*/
/* Karte */
.node-10 .field-name-body {
  padding: 0;
}
.field-name-field-unit-beschreibung {
  padding: 3em 1em 1em;
}
.page-anfahrt .pane-bundle-map,
.page-buchen .pane-bundle-text,
.page-anfahrt .pane-bundle-text,
.page-node-3 .pane-fpid-13,
.page-node-3 .pane-buchungsanfrage-panel-pane-2 {
  padding: 1em;
}

.field-name-field-ausstattung ul,
.page-node-6 .pane-fpid-16 ul,
.page-node-8 .pane-fpid-17 ul {
  /*padding-left: 1em;*/
  padding-left: 0;
  margin-bottom: 1em;
}
.field-name-field-ausstattung ul li,
.page-node-6 .pane-fpid-16 ul li,
.page-node-8 .pane-fpid-17 ul li {
  line-height: 1.2;
  /*padding: 0 0 .5em 0;
  margin-left: .5em;*/
  list-style: none;
  border-bottom: 1px solid #42332D;
  margin-bottom: .5em;
  padding-bottom: .2em;
}
.field-name-field-ausstattung ul li:last-child,
.page-node-6 .pane-fpid-16 ul li:last-child,
.page-node-8 .pane-fpid-17 ul li:last-child {
  border: 0;
}
/*.field-name-field-ausstattung ul li:before,
.page-node-6 .pane-fpid-16 ul li:before{
  font-family: "FontAwesome";
  content:"\f00c";
  margin-left:-1.5em;
  margin-right: .5em;
  color: #720201;
}*/
.field-name-field-ausstattung, .pane-rooms-booking-manager-rooms-availability-search {
  padding: 0;
}
#rooms-booking-availability-search-form .form-item {
  display: inline-block;
}
.container-inline-date .form-item, .container-inline-date .form-item input {
  max-width: 185px;
}

/* Moscone wie Bryant */
.col-md-8 {
  width: 75%;
}
.col-md-4 {
  width: 25%;
}

/* Booking Page */
.page-booking .form-item,
.page-booking .form-actions {
  margin: 0;
  display: inline-block;
}

/* Buchungsanfrage Formular */
.webform-component-textfield, .webform-component-email, .webform-component-date {
    float: left;
    margin-right: 2em;
}
.webform-component-textfield input, .webform-component-email input {
  width: 250px;
}
.webform-component-markup {
  clear: both;
  border-bottom: 1px solid #42332D;
}
.webform-component-date {

}
/* Datepicker jquery UI */
#ui-datepicker-div {
    background: #EBE9E6;
}
.ui-datepicker .ui-datepicker-header {
  background: #5d5d5d;
}
/*.ui-datepicker-week-end {
  background: #DDC390;
}*/

/* Anfahrt */
.node-10 {
  margin-top: -1em !important;
  margin-left: -15px !important;
  overflow-x: hidden;
}
iframe {
    width: 110%;
    height: 380px;
    border-bottom: 1px solid #42332D;
}

/* Kontakt */
.page-node-3 .einzelansicht {
  padding: 0;
}

.left, .right {
  float: left;
  width: 50%;
}

/* Adresszeile / Footer */
.impressum {
  font-size: 1.2rem;
  margin: 1em 0;
}

/* Tabellen */
.table {
  width: 93%;
  margin: 0 auto 1em;
}
.table p {
  margin: 0;
}
tbody {
  border: 0;
}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: transparent;
  padding: .5em 0;
  line-height: 1;
}
.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
background-color: transparent;
}
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
  border: none;

  padding: .5em 0;
  line-height: 1;
}
.table-bordered>thead>tr, .table-bordered>tbody>tr, .table-bordered>tfoot>tr {
  border-bottom: 1px solid #42332D;
}
.table-bordered>tbody>tr:last-child, .table-bordered>tfoot>tr:last-child {
  border-bottom: none;
}
.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
  background-color: transparent;
}

/* Modale Buchungsanfrage */
.node-type-unit-description div.ctools-modal-content .modal-content {
  padding: 1em 0 0 2em;
  border: 0;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -wk-box-shadow: none;
  box-shadow: none;
}
.node-type-unit-description div.modal-forms-modal-content .popups-close {
  margin-top: 15px;
}
.form-email {
  background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.webform-component-date .form-item {
  display: inline-block !important;
}
.webform-component-date input {
  margin-top: 1.5em;
}
#webform-component-personenzahl input {
  margin-top: 1.8em;
}
.form-textarea-wrapper textarea {
  max-width: 900px;
}

div.modal-header {
  background: #EBE9E6 !important;
}

.node-type-unit-description .popups-container,
.node-type-unit-description div.ctools-modal-content .modal-content {
  background: #E5DDCB !important;
}

.form-control:focus, .form-email:focus {
  border-color: #42332D;
  box-shadow: 0 1px 1px rgba(114, 2, 1, 0.4) inset, 0 0 8px rgba(114, 2, 1, 0.6);
  outline: 0 none;
}
.page-buchen .view-buchungsanfrage {
  padding: 0 1em;
}
div#panels-ipe-control-container {
  background: transparent;
  box-shadow: none;
}
.panels-ipe-editing a#logo {
  margin:0 !important;
}
@media (min-width: 580px) {
    /*#modalContent {
      position: fixed !important;
      top: 0% !important;
      bottom: 0% !important;
      right: 0% !important;
      left: 0% !important;
      height: 100% !important;
      z-index: 9999 !important;
      overflow: auto !important;
    }
    div.ctools-modal-content {
      width: 100% !important;
      margin: 0 auto;
    }
    div.ctools-modal-content .modal-content {
      width: 100% !important;
    }*/
    a#logo img {
    width: 220px;
  }
  .container {
    width: 95%;
  }
}
@media (min-width: 800px) {
/* Kompaktes Layout */
  body {
    background: #B7CEE9;
    /*background: url(../img/clouds.png) repeat scroll top left #B7CEE9;*/
    font-size: 1.2rem;
  }
  .navbar {
    margin-bottom: 20px;
  }
  a#logo img {
    width: 250px;
  }
  .front .frontpage {
    padding: 1em;
  }
  .ueberblick .ds-2col-stacked-fluid>.group-left{
    width: 100%;
  }
  .ueberblick .ds-2col-stacked-fluid>.group-right{
    width: 100%;
    margin-top: 2em;
  }
}
@media (min-width: 1024px) {
/* breites Layout */
  body{
    background-attachment: fixed;
    font-size: 1.4rem;
  }
  .front .frontpage {
    padding: 3em;
  }
  a#logo img{
    width: 280px;
  }
}
@media (min-width: 1280px) {
  a#logo img {
    width: 310px;
  }
}